@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    padding: 10px 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(0.1, 0.1, 0.2, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 100;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    font-family: "Silkscreen", sans-serif;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .9s;
}

nav a:hover,
nav a.active {
    color: #0ef;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 2px;
    background-color:#fff;
    margin: 4px;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("assets/bgi.jpg") no-repeat center center fixed;
    background-size: cover;
    font-size: 10px;
    color: #fff;
    font-weight: 700;
}

section:nth-child(odd) {
   background: #2a2d2a;
}

section#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

section#home h1 {
    font-size: 70px;
    font-family: "Kalnia", serif;
}

section#home p {
    font-size: 23px;
    line-height: 1.5;
    color: rgb(249, 245, 246);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    position: relative;
    padding: 0px 15px;
    border-radius: 15px;
    backdrop-filter: blur(20px);
    background-color: rgba(0.1, 0.1, 0.2, 0.3);
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.about-image {
    margin-left: 4%;
    width: 40%;
    border-radius: 25px;
}

.about-details h1 {
    margin-left: -12%;
    margin-top: -10%;
    font-size: 80px;
    color: rgb(231, 175, 158);
    font-family: "Cinzel", serif;
    font-weight: 600;
}

.about-details p {
    margin-top: -4%;
    margin-left: -12%;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    color: rgb(182, 218, 211);
}

/* Media Queries */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    nav {
        display: none;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        border-radius: 0 0 15px 15px;
        background-color: rgba(0.1, 0.1, 0.2, 0.3);
        backdrop-filter: blur(10px);
        
    }

    nav.active {
        display: flex;
    }

    nav a {
        margin: 20px 0;
        font-size: 18px;
    }
    header.active {

        backdrop-filter: blur(15px);
        background-color: rgba(0.1, 0.1, 0.2, 0.3);
    }
    
    section#home h1 {
        font-size: 50px;
    }

    section#home p {
        border-radius: 10px; /* More subtle border radius */
    }

    .about-container {
        flex-direction: column;
    }

    .about-image {
        width: 80%;
        margin-left: 0;
    }

    .about-details h1 {
        margin-left: 0;
        margin-top: 20px;
        font-size: 40px;
    }

    .about-details p {
        margin-left: 0;
        margin-top: 10px;
        font-size: 16px;
    }
}
#github-button {
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px;
    background-color: #277429; /* Green */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 2%;
    transition: background-color 0.6s ease;
}
#github-button:hover {
    background-color: #45a049;
}
/* Animations */
@keyframes text-reveal {
    from {
        opacity: 0;
        transform: translateY(50px) rotateX(-15deg);
    }
    to {
        opacity: 1;
        transform: translateY(0) rotateX(0);
    }
}

section#home h1,
section#home p,
.about-container {
    animation: text-reveal 2s ease-in-out forwards;
}